<div class="card" >
    <div class="card-header">
        <h3>Pet Registration</h3>
     </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #petForm="ngForm">
          <div class="row">
            <div class="form-group col-6">
              <label class="control-label" for="name">Pet Name</label>
              <input type="text" id="name" name="name" class="form-control" [(ngModel)]="pet.name" required>
            </div>
          
            <div class="form-group col-6">
              <label class="control-label" for="species">Pet Species</label>
              <!-- <input type="text" id="species" name="species" class="form-control" [(ngModel)]="pet.species" required> -->
              <select id="species" name="species" class="form-control" [(ngModel)]="pet.species" required>
                  <option value="-1">-- Select Species --</option>
                  <option value="Baffalo">Baffalo</option>
                  <option value="Cat">Cat</option>
                  <option value="Cow">Cow</option>
                  <option value="Dog">Dog</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-6">
              <label for="age">Pet Age</label>
              <input type="number" id="age" name="age" class="form-control" [(ngModel)]="pet.age" required>
            </div>
          
            <div class="form-group col-6">
              <label for="owner">Pet Color</label>
              <input type="text" id="owner" name="owner" class="form-control" [(ngModel)]="pet.image" required>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-6">
              <label for="age">Owner Name</label>
              <input type="text" id="age" name="age" class="form-control" [(ngModel)]="pet.ownername" required>
            </div>
          
            <div class="form-group col-6">
              <label for="owner">Owner Phone Number</label>
              <input type="number" id="owner" name="owner" class="form-control" [(ngModel)]="pet.ownerphoneNumber" required>
            </div>
          </div>
          <br/>
          <div class="row">
            <button id="btnRegistration" type="submit" class="btn btn-primary">Register Pet</button>
          </div>
          </form>        
    </div>
</div>
<div class="col-md-8">
  <h3 id="outputmsg" style="padding-top:10px;"></h3>
</div>
<div id="msg" class="col-md-4" [style.background-color]="backgroundColor" *ngIf="mymsg">
<h3 id="outputmsg" style="padding-top:10px;">{{msgtext}}</h3>
</div>
  