.form-layout {
    max-width: 350px;
    margin: 40px auto;
    
    > h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    > h4 {
      color: green;
      width: 75%;
      text-align: center;
      margin: 15px auto 0;
    }
    
    > form {
      border-radius: 4px;
      background-color: #f5f5f5;
      padding: 20px 15px;
      width: 450px;
      height: 250px;
    }
    
    .input-field {
      position: relative;
      padding-top: 15px;
    }
    
    label {
      color: #999;
      position: absolute;
      top: 20px;
      left: 5px;
      cursor: text;
      margin-bottom: 0;
      font-weight: 400;
      z-index: 1;
      transition: all .2s ease-out;
    }
    
    .active > label {
      color: black;
      transform: translateY(-140%);
    }
    
    input {
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      margin-bottom: 18px;
      box-shadow: none;
      z-index: 2;
      position: relative;
      background: none;
      
      &:focus {
        box-shadow: none;
      }
      
      &.is-dirty {
        &.ng-valid {
          border-color: green;
        }
        
        &.ng-invalid {
          border-color: red;
        }
      }
    }
    
    button:active,
    button:focus {
      outline: none;
    }
  }