<div class="card" >
<div class="card-body">
<div class="sidebar">
    <ul>
      <li class="btn btn-primary"><a routerLink="/home">Home</a></li>
      <li class="btn btn-primary"><a routerLink="/PetRegistration">Pet Registration</a></li>
      <li class="btn btn-primary"><a routerLink="/PetSearch">Pet Search</a></li>
      <li class="btn btn-primary"><a routerLink="/Adoption">Adoption</a></li>
      <li class="btn btn-primary"><a routerLink="/About">About Us</a></li>
    </ul>
  </div>
    </div>
  